.cart {
    padding: 12px;
    background-color: rgb(233, 237, 237);
}

.products-list {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    background-color: white;
}

.cart-product {
    display: flex;
    gap: 12px;
    padding: 16px;
    border-block: 1px solid #80808080;
    max-width: 1140px;
}

.cart-product img {
    /* width: 100%; */
    aspect-ratio: 1/1;
    max-height: 100px;
}